h1 {

  color:#562020;

  padding:30px;
  font-size:3em;
  font-family:sans-serif;
  /*border-radius: 50%;*/
  text-align: center;
}

#container {
  background-color: #cc8196;
  width: 76.9%;
margin: 2em auto;
}

#wrap1 {
  width:100%;
  background-color: #00AD5A;
margin: 2em auto;
}
#wrap2 {
  width:88%;
  background-color: #FF0011;
  margin: 2em auto;
}
#wrap3 {
  width:86.4%;
  background-color: #00BFFF;
  margin: 2em auto;
}
#wrap4 {
  width:84.2%;
  background-color: #FF5E00;
  margin: 2em auto;
}
#wrap5 {
  width:81.25%;
  background-color: #665A47;
  margin: 2em auto;
}
